@model IEnumerable<FinePaymentListVM>

@{
    ViewBag.Title = "Fine Payments";
    Layout = "_LayoutWithoutSearch";
}

<div class="w-full min-h-[15rem] mx-auto p-8 rounded md:max-h-[20rem]">
    <h2 class="text-2xl font-bold text-center mb-6 text-white">Search for Staff</h2>
    <form asp-action="Search" asp-controller="FinePayment" method="get">
        <section class="flex flex-col md:flex-row items-center md:justify-center md:flex-wrap gap-4 ">
            <div>
                <label class="block text-white">Payed On</label>
                <input type="date" name="PayedOn" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <label class="block text-white">Customer Phone</label>
                <input type="text" name="Phone" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>

        </section>
        <div class="flex justify-center mt-6">
            <button type="submit" class="w-48 py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Search</button>
        </div>
    </form>
</div>

<div class="flex justify-center mt-8">
    <table class="table-auto border-collapse border-2 border-gray-500">
        <thead>
            <tr>
                <th class="border-2 p-2">Payed on</th>
                <th class="border-2 p-2">Customer</th>
                <th class="border-2 p-2">Amount</th>
                <th class="border-2 p-2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var finePayment in Model)
            {
                <tr>
                    <td class="border-2 p-2">@finePayment.PaymentDate.ToShortDateString()</td>
                    <td class="border-2 p-2">
                        <a asp-action="Manage" asp-controller="Customer">"@finePayment.Customer.FName @finePayment.Customer.LName"</a> 
                    </td>
                    <td class="border-2 p-2">@finePayment.Amount</td>
                    <td class="border-2 p-2">
                        <a asp-action="Edit" asp-route-id="@finePayment.Id">Update</a> | 
                        <a onclick="confirmDelete()" asp-action="Delete" asp-route-id="@finePayment.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function confirmDelete(event) {
        if (!confirm('Do you really want to delete?')) {
            event.preventDefault();
        }
    }
    </script>