@model IEnumerable<CustomerListVM>

@{
    ViewBag.Title = "title";
    Layout = "_LayoutWithoutSearch";
}
<div class="w-full min-h-[15rem] mx-auto p-8 rounded md:max-h-[20rem]">
    <h2 class="text-2xl font-bold text-center mb-6 text-white">Search for Customer</h2>
    <form asp-action="Search" asp-controller="Customer" method="get">
        <section class="flex flex-col md:flex-row items-center md:justify-center md:flex-wrap gap-4 ">
            <div>
                <label class="block text-white">Email</label>
                <input type="text" name="Email" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <label class="block text-white">Phone</label>
                <input type="text" name="Phone" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>

        </section>
        <div class="flex justify-center mt-6">
            <button type="submit" class="w-48 py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Search</button>
        </div>
    </form>
</div>
<div class="flex justify-center mt-8">
    <table class="table-auto border-collapse border-2 border-gray-500">
        <thead>
        <tr>
            <th class="border-2 p-2">First Name</th>
            <th class="border-2 p-2">Last Name</th>
            <th class="border-2 p-2">Email</th>
            <th class="border-2 p-2">Phone</th>
            <th class="border-2 p-2">Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td class="border-2 p-2">@customer.FName</td>
                <td class="border-2 p-2">@customer.LName</td>
                <td class="border-2 p-2">@customer.Email</td>
                <td class="border-2 p-2">@(customer.Phone)</td>
                
                <td class="border-2 p-2">
                    <a onclick="confirmDelete(event)" asp-action="Delete" asp-route-id="@customer.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script>
function confirmDelete(event) {
    if (!confirm('Do you really want to delete?')) {
        event.preventDefault();
    }
}
</script>