@model IEnumerable<ReviewVM>

@{
    ViewBag.Title = "Reviews";
    Layout = "_LayoutWithoutSearch";
}

<div class="w-full min-h-[15rem] mx-auto p-8 rounded md:max-h-[20rem]">
    <h2 class="text-2xl font-bold text-center mb-6 text-white">Search for Staff</h2>
    <form asp-action="Search" asp-controller="Review" method="get">
        <section class="flex flex-col md:flex-row items-center md:justify-center md:flex-wrap gap-4 ">
            <div>
                <label class="block text-white">Review Date</label>
                <input type="date" name="ReviewDate" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <label class="block text-white">Book Title</label>
                <input type="text" name="BookTitle" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <label class="block text-white">Customer Phone</label>
                <input type="text" name="CustomerPhone" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <fieldset class="border p-4">
                    <legend>Rating</legend>
                    <label class="block text-white">Min Rating</label>
                    <input type="number" name="MinRating" min="0" max="10" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    <label class="block text-white">Max Rating</label>
                    <input type="number" name="MaxRating" min="0" max="10" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                </fieldset>
            </div>

        </section>
        <div class="flex justify-center mt-6">
            <button type="submit" class="w-48 py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Search</button>
        </div>
    </form>
</div>

<div class="flex justify-center mt-8">
    <table class="table-auto border-collapse border-2 border-gray-500 mt-16">
        <thead>
        <tr>
            <th class="border-2 p-2">Review Date</th>
            <th class="border-2 p-2">Book</th>
            <th class="border-2 p-2">Customer</th>
            <th class="border-2 p-2">Rating</th>
            <th class="border-2 p-2 w-1/4">Comment</th>
            <th class="border-2 p-2">Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <td class="border-2 p-2">@review.ReviewDate.ToShortDateString()</td>
                <td class="border-2 p-2">
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@review.Book.Id">"@review.Book.Title"</a>
                </td>
                <td class="border-2 p-2">
                    <a asp-controller="Customer" asp-action="Manage" asp-route-id="@review.Customer.Id">"@review.Customer.FName @review.Customer.LName"</a>
                </td>

                <td class="border-2 p-2">@(review.Rating.HasValue ? review.Rating.Value : "NO RATING")</td>
                <td class="border-2 p-2 w-1/4 break-words">@review.Comment</td>
                <td class="border-2 p-2">
                    <a asp-action="Edit" asp-route-id="@review.Id">Update</a> |
                    <a onclick="confirmDelete()" asp-action="DeleteFromManagement" asp-route-id="@review.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script>
function confirmDelete(event) {
    if (!confirm('Do you really want to delete?')) {
        event.preventDefault();
    }
}
</script>