@model IEnumerable<LoanListVM>

@{
    ViewBag.Title = "title";
    Layout = "_LayoutWithoutSearch";
}
<div class="w-full min-h-[15rem] mx-auto p-8 rounded md:max-h-[20rem]">
    <h2 class="text-2xl font-bold text-center mb-6 text-white">Search for Staff</h2>
    <form asp-action="Search" asp-controller="Loan" method="get">
        <section class="flex flex-col md:flex-row items-center md:justify-center md:flex-wrap gap-4 ">
            <div>
                <label class="block text-white">Loan Date</label>
                <input type="date" name="LoanDate" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <label class="block text-white">Due Date</label>
                <input type="date" name="DueDate" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
             <div>
                            <label class="block text-white">Returned Date</label>
                            <input type="date" name="ReturnedDate" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        </div>
            <div>
                <label class="block text-white">Book Title</label>
                <input type="text" name="BookTitle" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <label class="block text-white">Customer Phone</label>
                <input type="text" name="CustomerPhone" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>

        </section>
        <div class="flex justify-center mt-6">
            <button type="submit" class="w-48 py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Search</button>
        </div>
    </form>
</div>

<div class="fixed bottom-0 right-0 mr-3 mb-3">
    <a asp-controller="Loan" asp-action="Create" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        Create new
    </a>
</div>
<div class="flex justify-center mt-8">
    <table class="table-auto border-collapse border-2 border-gray-500">
        <thead>
        <tr>
            <th class="border-2 p-2">Loan Date</th>
            <th class="border-2 p-2">Due Date</th>
            <th class="border-2 p-2">Returned Date</th>
            <th class="border-2 p-2">Book</th>
            <th class="border-2 p-2">Customer</th>
            <th class="border-2 p-2">Amount</th>
            <th class="border-2 p-2">Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var loan in Model)
        {
            <tr>
                <td class="border-2 p-2">@loan.LoanDate.ToShortDateString()</td>
                <td class="border-2 p-2">@loan.DueDate.ToShortDateString()</td>
                <td class="border-2 p-2">@loan.ReturnedDate.ToShortDateString()</td>
                <td class="border-2 p-2">
                    <a asp-action="Details" asp-controller="Book" asp-route-id="@loan.BookId">
                        "@loan.Book.Title"
                    </a>
                </td>
                <td class="border-2 p-2">
                    <a asp-action="Manage" asp-controller="Customer" asp-route-id="@loan.CustomerId">
                        "@loan.Customer.FName @loan.Customer.LName"
                    </a>
                </td>

                <td class="border-2 p-2">@loan.FineAmount</td>
                <td class="border-2 p-2">
                    <a asp-action="Edit" asp-route-id="@loan.Id">Update</a> |
                    <a onclick="confirmDelete()" asp-action="Delete" asp-route-id="@loan.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script>
function confirmDelete(event) {
    if (!confirm('Do you really want to delete?')) {
        event.preventDefault();
    }
}
</script>