@model BookVM

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    int userId = Convert.ToInt32(Context.Session.GetString("UserID"));
    var isStaffLoggedIn = Context.Session.GetString("IsStaffLoggedIn") == "true";
    var isCustomerLoggedIn = Context.Session.GetString("IsCustomerLoggedIn") == "true";
}

<div class="flex justify-center flex-wrap gap-x-4 w-screen h-auto">
    <div class=" my-10 bg-white rounded-lg shadow-md p-5 flex-grow-0 w-128">
        <img class="w-16 h-32 rounded-full mx-auto" src="~/img/book-solid.svg" alt="Profile picture">
        <div class="flex justify-center w-full">
            <h2 class="text-center text-2xl font-semibold mt-3 mr-4">@Model.Title</h2>
            <h2 class="text-center text-2xl font-semibold mt-3 ml-4 before:contents">&bigstar; @(Model.AvgRating.HasValue ? Math.Round(Model.AvgRating.Value, 2) : ":)")</h2>
        </div>
        <p class="text-center text-gray-600 mt-1">@Model.PublicationDate.ToShortDateString()</p>
        <p class="text-center text-gray-600 mt-1">@Model.Isbn</p>
        <div class="flex justify-center mt-5">
            @foreach (var author in Model.Authors)
            {
                <a asp-controller="Author" asp-action="Details" asp-route-id="@author.Id" class="text-blue-500 hover:text-indigo-700 mr-5">@author.FName @author.LName</a>
            }
        </div>
        <div class="rounded-xl mt-5 mb-2 bg-gray-200  p-3">
            <h3 class="text-xl font-semibold">Description</h3>
            <p class="text-gray-600 mt-2">@Model.Description</p>
        </div>
        <div class="rounded-xl mb-2 flex justify-between bg-gray-200 ">
            <div class=" p-3">
                <h3 class="text-xl font-semibold">Genres</h3>
                <p class="text-gray-600 mt-2">@(string.Join(", ", Model.Genres))</p>
            </div>
            <div class=" p-3">
                <h3 class="text-xl font-semibold">Category</h3>
                <p class="text-gray-600 text-center mt-2">@Model.Categorie</p>
            </div>
        </div>
        <div class="rounded-xl mb-2 flex justify-between bg-gray-200 ">
            <div class=" p-3">
                <h3 class="text-xl font-semibold">Language</h3>
                <p class="text-gray-600 mt-2">@Model.Language</p>
            </div>
            <div class=" p-3">
                <h3 class="text-xl font-semibold">Copies</h3>
                <p class="text-gray-600 text-center mt-2">@Model.CopiesAvailable</p>
            </div>
        </div>
        @if (Model.Shelf != null)
        {
            <a asp-action="Details" asp-controller="Shelf" asp-route-id="@Model.Shelf.Id" class="rounded-xl mb-2 flex justify-between bg-blue-300 hover:bg-blue-500 transition-all">
                <div class=" p-3">
                    <h3 class="text-xl font-semibold">Shelf</h3>
                    <p class="text-gray-600 mt-2">@Model.Shelf?.Description</p>
                </div>
                <div class=" p-3">
                    <h3 class="text-xl font-semibold">Description</h3>
                    <p class="text-gray-600 text-center mt-2">@Model.Shelf?.Description</p>
                </div>
            </a>
        }
        <div class="flex justify-center mb-2 rounded-xl  bg-blue-300 hover:bg-blue-500 transition-all">
            <a asp-action="Details" asp-controller="Publisher" asp-route-id="@Model.Publisher.Id" class=" p-3 w-full">
                <h3 class="text-xl font-semibold text-center">Publisher</h3>
                <div class="flex justify-between ">
                    <p class="text-gray-600 mt-2">@Model.Publisher.Name</p>
                    <p class="text-gray-600 mt-2">@Model.Publisher.Phone</p>
                    <p class="text-gray-600 mt-2">@Model.Publisher.WebSite</p>
                </div>
            </a>
        </div>
    </div>


    <div class="flex flex-col">
        <div class="h-[29rem] w-96 flex-grow-0 bg-white overflow-y-auto my-10 rounded-lg shadow-md p-5">
            <h4 class="text-center text-2xl font-semibold">Reviews</h4>
            @foreach (var rev in Model.Reviews)
            {
                <div class="rounded-xl mt-5 mb-2 bg-indigo-500  p-3 max-w-lg break-words">
                    <div class="flex justify-between gap-6">
                        <div class="flex gap-2">
                            <img src="~/img/user-solid.svg" alt="User">
                            <p class="text-lg text-emerald-400">
                                @rev.Customer.FName @rev.Customer.LName
                            </p>
                        </div>

                        <span class="text-black font-bold">@rev.Rating</span>
                    </div>
                    <p class="text-white mt-2">@rev.Comment</p>
                </div>
            }

        </div>
        @if (isCustomerLoggedIn)
        {
            <div>
                <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="bg-yellow-300 rounded-lg shadow-md p-5 mb-4 min-w-[24rem] -mt-1 text-center font-bold text-2xl hover:bg-orange-600" style="color:black;" type="button">
                    Leave Review
                </button>
            </div>
            <div>
                <button data-modal-target="crud-modal2" data-modal-toggle="crud-modal2" class="bg-green-300 rounded-lg shadow-md p-5 min-w-[24rem] -mt-1 text-center font-bold text-2xl hover:bg-orange-600" style="color:black;" type="button">
                    Make Reservation
                </button>
            </div>
        }
        @if (isStaffLoggedIn)
        {
            <button id="updateProductButton" data-modal-target="updateProductModal" data-modal-toggle="updateProductModal" class="bg-yellow-500 text-black rounded-lg shadow-md p-5 mt-3 text-center font-bold text-xl hover:bg-yellow-400" type="button">
                Update
            </button>
            <button id="replaceBookButton" data-modal-target="replaceBookModal" data-modal-toggle="replaceBookModal" class="bg-yellow-500 text-black rounded-lg shadow-md p-5 mt-3 text-center font-bold text-xl hover:bg-yellow-400" type="button">
                Replace
            </button>
        }
        @* class="bg-red-400 rounded-lg shadow-md mt-4 p-5 text-center font-bold text-xl hover:bg-red-600" *@
        <a asp-action="Index" class="">
            <button class="bg-red-400 min-w-[24rem] rounded-lg shadow-md mt-4 p-5 text-center font-bold text-xl hover:bg-red-600" style="color:black;" type="button">
                Back
            </button>
        </a>
    </div>

</div>
@if (isCustomerLoggedIn)
{
    <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Leave new review
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 md:p-5" asp-action="Create" asp-controller="Review">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <input type="hidden" name="bookId" value="@Model.Id">
                        <input type="hidden" name="customerId" value="@userId">
                        <div class="col-span-2">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rating</label>
                            <input type="number" min="1" max="10" step="any" name="Rating" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        </div>
                        <div class="col-span-2">
                            <label for="comment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comment</label>
                            <input type="text" name="Comment" id="comment" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required="">
                        </div>

                    </div>
                    <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
                        </svg>
                        Leave review
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div id="crud-modal2" tabindex="-2" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Make new reservation
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal2">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 md:p-5" asp-action="Create" asp-controller="Reservation">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <input type="hidden" name="bookId" value="@Model.Id">
                        <input type="hidden" name="customerId" value="@userId">
                        <div class="col-span-2">
                            <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount</label>
                            <input type="number" min="1" max="@Model.CopiesAvailable" step="any" name="amount" id="amount" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type product name" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="dueDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Due Date</label>
                            <input type="date" name="DueDate" id="dueDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type product name" required="">
                        </div>

                    </div>
                    <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
                        </svg>
                        Reserve
                    </button>
                </form>
            </div>
        </div>
    </div>
}

@if (isStaffLoggedIn)
{
    <div id="updateProductModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <!-- Modal header -->
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Update Book
                    </h3>
                    <div asp-validation-summary="All" class="text-red-600" id="val"></div>

                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="updateProductModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form asp-action="Edit" asp-route-id="@Model.Id" method="post" id="updateForm" data-editId="@Model.Id">
                    <div class="grid gap-4 mb-4 sm:grid-cols-2">
                        <input asp-for="Id" value="@Model.Id" hidden="hidden">
                        <div>
                            <label asp-for="Title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                            <input type="text" asp-for="Title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ex. Apple iMac 27&ldquo;">
                            <span asp-validation-for="Title" class="text-red-300"></span>
                        </div>
                        <div>
                            <label asp-for="Isbn" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                            <input type="text" asp-for="Isbn" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ex. Apple iMac 27&ldquo;">
                            <span asp-validation-for="Isbn" class="text-red-300"></span>
                        </div>
                        <div>
                            <label asp-for="Categorie" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                            <input type="text" asp-for="Categorie" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ex. Apple iMac 27&ldquo;">
                            <span asp-validation-for="Categorie" class="text-red-300"></span>
                        </div>
                        <div id="genresInput">
                            <div class="inline-flex">

                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Genres</label>
                                <button type="button" class="bg-green-400 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-emerald-200 font-medium rounded-lg text-sm px-1 py-0.5 text-center test" id="addGenre">Add</button>
                            </div>

                            <div id="genreContainer">
                                @if (Model.Genres != null)
                                {
                                    for (int i = 0; i < Model.Genres.Length; i++)
                                    {
                                        <div class="flex">
                                            <input type="text" name="Genres" value="@Model.Genres[i]" class="form-control rounded-xl text-black w-full h-12 text-center p-1"/>
                                            <button onclick=" $(this).parent().remove()" type="button" id="removeGenre" class="bg-red-400 rounded-lg text-black">Rem</button>
                                        </div>
                                    }
                                }
                                <span asp-validation-for="Genres" class="text-red-500"></span>
                            </div>

                        </div>
                        <div>
                            <label asp-for="PublicationDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                            <input type="date" asp-for="PublicationDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="dd/mm/yyyy">
                            <span asp-validation-for="PublicationDate" class="text-red-300"></span>
                        </div>
                        <div>
                            <label asp-for="Language" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                            <input asp-for="Language" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                            <span asp-validation-for="Language" class="text-red-300"></span>
                        </div>
                        <div>
                            <label asp-for="CopiesAvailable" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                            <input asp-for="CopiesAvailable" type="number" min="0" step="1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                            <span asp-validation-for="CopiesAvailable" class="text-red-300"></span>
                        </div>
                        <div>
                            <label asp-for="AvgRating" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                            <input asp-for="AvgRating" type="number" min="0" step="1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                            <span asp-validation-for="AvgRating" class="text-red-300"></span>
                        </div>
                        <div class="sm:col-span-2">
                            <label asp-for="Description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                            <textarea asp-for="Description" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write a description...">Standard glass, 3.8GHz 8-core 10th-generation Intel Core i7 processor, Turbo Boost up to 5.0GHz, 16GB 2666MHz DDR4 memory, Radeon Pro 5500 XT with 8GB of GDDR6 memory, 256GB SSD storage, Gigabit Ethernet, Magic Mouse 2, Magic Keyboard - US</textarea>
                            <span asp-validation-for="Description" class="text-red-300"></span>
                        </div>
                        <fieldset class="border p-4">
                            <legend>Shelf (optional)</legend>
                            <select asp-for="ShelfId">
                                <option value="null">------</option>
                                @foreach (var shelf in ViewBag.Shelves)
                                {
                                    <option value="@shelf.Id">@shelf.Name</option>
                                }
                            </select>
                        </fieldset>
                    </div>
                    <div class="flex items-center space-x-4">
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Update Book
                        </button>
                        <a onclick="confirmDelete()" asp-action="Delete" asp-route-id="@Model.Id" class="text-red-600 inline-flex items-center hover:text-white border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                            <svg class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                            </svg>
                            Delete
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="replaceBookModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <!-- Modal header -->
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Replace Book
                    </h3>
                    <div asp-validation-summary="All" class="text-red-600" id="val"></div>

                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="replaceBookModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form asp-action="ReplaceBook" asp-route-id="@Model.Id" method="post" id="updateForm">
                    <div class="grid gap-4 mb-4 sm:grid-cols-2">
                        <input asp-for="Id" value="@Model.Id" hidden="hidden">

                        <fieldset class="border p-4">
                            <legend>Shelf (optional)</legend>
                            <select asp-for="ShelfId">
                                <option value="null">------</option>
                                @foreach (var shelf in ViewBag.Shelves)
                                {
                                    <option value="@shelf.Id">@shelf.Name</option>
                                }
                            </select>
                        </fieldset>
                    </div>
                    <div class="flex items-center space-x-4">
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Replace
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script><script>
       $(document).ready(function() {
           var counter = 0;
       
           // Функция для добавления нового поля ввода
           function addInputField() {
               var newInputField = '<div class="flex"><input type="text" name="Genres" class="form-control rounded-xl text-black w-full h-12 text-center p-1"/>'+
               '<button type="button" id="removeGenre"  class="bg-red-400 rounded-lg text-black">Rem</button></div>';
               $('#genreContainer').append(newInputField);
               counter++;
           }
       
           // Добавить новое поле ввода при нажатии на кнопку "+"
           $('#addGenre').click(function() {
               addInputField();
           });
       
           // Удалить поле ввода при нажатии на кнопку "-"
           $('#genreContainer').on('click', '#removeGenre', function() {
               $(this).parent().remove();
           });
       });
        function confirmDelete(event) {
               if (!confirm('Do you really want to delete?')) {
                   event.preventDefault();
               }
           }
    </script>

    <script>
           $(document).ready(function() {
                      $("#updateForm").submit(function(event) {
           event.preventDefault();
    
    
                          const formData = new FormData(this);
                          const jsonData = {};
                         formData.forEach((value, key) => {
                                     if (key === "Genres") {
                                         // Check if the key is "Genres" and create an array if needed
                                         if (!jsonData[key]) {
                                             jsonData[key] = [];
                                         }
                                         jsonData[key].push(value);
                                     } else {
                                         jsonData[key] = value;
                                     }
                                 });
    
                                 console.log(jsonData);
                          // Fetch data from the server
                          $.ajax({
                              url: "/Book/Edit/" + $(this).data("editid"),
                              method: "POST",
                              contentType: "application/json",
                              data: JSON.stringify(jsonData),
                              success: function(data) {
                                  if (data.success){
                                   $("#val").html("");
                                      window.location.href = data.redirectUrl;
                                      }
                                  else{
                                   const errorMessages = JSON.parse(data).join("<br>");
                                      $("#val").html("").html(errorMessages);
                                      }
                              },
                              error: function(error) {
                                  console.error("Ajax Error:", error);
                              },
    
                          });
                      });
                  });
        </script>
}
}