@model IEnumerable<BookListVM>

@{
    ViewBag.Title = "title";
    Layout = "_LayoutWithoutSearch";
    var isStaffLoggedIn = Context.Session.GetString("IsStaffLoggedIn") == "true";
}

<div class="w-full min-h-[15rem] mx-auto p-8 rounded md:max-h-[20rem]">
    <h2 class="text-2xl font-bold text-center mb-6 text-white">Search for a Book</h2>
    <form asp-action="Search" asp-controller="Book" method="get">
        <section class="flex flex-col md:flex-row items-center md:justify-center md:flex-wrap gap-4 ">
            <div>
                <label class="block text-white">Category</label>
                <input type="text" name="Category" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <label class="block text-white">Language</label>
                <input type="text" name="Language" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <label class="block text-white">Title</label>
                <input type="text" name="Title" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <label class="block text-white">Genre</label>
                <input type="text" name="Genre" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <label class="block text-white">Publication Date</label>
                <input type="date" name="PublicationDate" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div>
                <label class="block text-white">ISBN</label>
                <input type="text" name="Isbn" class="mt-1 text-red-900 block w-48 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
        </section>
        <div class="flex justify-center mt-6">
            <button type="submit" class="w-48 py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Search</button>
        </div>
    </form>
</div>


<div class="w-full flex flex-wrap gap-8 p-7 justify-center overflow-hidden">
    @foreach (var book in Model)
    {
        <div class="max-w-md w-full p-6 bg-slate-300 rounded-lg shadow-lg">
            <div class="flex justify-center mb-8">
                <img src="~/img/book-solid.svg" alt="Logo" class="w-30 h-20">
            </div>
            <h1 class="text-2xl font-semibold text-center text-gray-500 mt-8 mb-6">@book.Title</h1>
            <p class="text-sm text-gray-600 text-justify mt-8 mb-6">@(book.Description ?? "No description at the moment")</p>
            <div class="flex justify-center space-x-4 my-4">
                <a class="bg-gradient-to-r from-cyan-400 to-cyan-600 text-white text-center px-4 py-2 rounded-md w-1/3" asp-action="Details" asp-route-id="@book.Id">Details</a>
            </div>
            <div class="text-center">
                <p class="text-sm">
                    Authors:
                    @foreach (var author in book.Authors)
                    {
                        <a asp-controller="Author" asp-action="Details" asp-route-id="@author.Id" class="text-teal-900">@author.FName @author.LName</a>
                    }
                </p>
            </div>
            <p class="text-xs text-gray-600 text-center mt-8">&copy; @book.PublicationDate.ToShortDateString()</p>
        </div>
    }
</div>

@if (isStaffLoggedIn)
{
    <div class="fixed bottom-0 right-0 mr-3 mb-3">
        <a asp-controller="Book" asp-action="Create" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
            Create new
        </a>
    </div>
    
}
